body{
    color: blue;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

header{
    padding: 3%;
    margin: 3%;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 60px;
    color: coral;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aqua;
    border-radius: 30px;
}

section{
    text-align: center;
    margin-top: 3%;
    font-size: larger;
    padding-left: 30%;
    padding-right: 30%;
    background-color: cadetblue;
}